# docker/docker-compose.yml
services:
  astromoon:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: astromoon
    network_mode: host
    command: ["bash", "-lc", "sleep infinity"]


    # GPU accel for Intel/AMD on Linux (Mesa/DRI)
    devices:
      - /dev/dri:/dev/dri
    group_add:
      - video

    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - XDG_RUNTIME_DIR=/tmp/runtime-root

    volumes:
      # X11 socket for GUI apps
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      # Bind-mount repo root into container workspace
      - ..:/astromoon_ws:rw

    stdin_open: true
    tty: true
